version: 2.1
jobs:
  build-and-test:
    parameters:
      xcode-version:
        description: "Specify the xcode version you would like to use"
        default: "10.1.0"
        type: string
    macos:
      xcode: << parameters.xcode-version >>
    working_directory: /Users/distiller/project
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: test
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan

  adhoc:
    macos:
      xcode: "10.0.0"
    working_directory: /Users/distiller/project
    environment:
      FASTLANE_LANE: adhoc
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output/Game.ipa
          
workflows:
  version: 2.1
  build-test-adhoc:
    jobs:
      - build-and-test:
          # Supported versions: https://circleci.com/docs/2.0/testing-ios/#supported-xcode-versions
          xcode-version: "10.1.0"
          name: xcode101testing
      - build-and-test:
          xcode-version: "10.0.0"
          name: xcode100testing
      - adhoc:
          requires:
            - xcode101testing
            - xcode100testing
